.main_row {
    max-width       : 1480px;
    margin          : 0 auto;
    overflow        : hidden;
    padding         : 20px 0;
    background-color: aqua;
}

.home__image {
    width        : 100%;
    height       : 350px;
    z-index      : -1;
    margin-bottom: -100px;
    mask-image   : linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.home__row {
    background: #fff;
    height    : 100%;
    padding   : 15px;
}

.header_text {
    font-size  : 21px !important;
    line-height: 27.3px !important;
    font-weight: 700;
    padding    : 20px;
}

.button {
    display   : block;
    text-align: center;
}