.footer {
    height          : 50px;
    background-color: #131A22;
    display         : flex;
    align-items     : center;
    padding         : 150px;
}

.footer_context {
    justify-content: center;
}


.footer_option {
    display    : flex;
    position   : static;
    font-family: "Amazon Ember", Arial, sans-serif;
    flex-flow  : column nowrap;
}

.footer_option:hover .footer_optionLineOne {
    text-decoration: underline;
    cursor         : pointer;
}

.footer_option:hover .footer_optionLineTwo {
    text-decoration: underline;
    cursor         : pointer;
}

.footer_optionLineOne {
    font-size     : 12px !important;
    vertical-align: top;
    text-align    : left;
    line-height   : 115%;
    color         : #ddd;
}

.footer_optionLineTwo {
    font-size    : 10px;
    color        : #767676;
    line-height  : 110%;
    display      : block;
    margin-bottom: 1px;
}


.footer_text {
    color       : #ddd;
    font-size   : 12px;
    line-height : 1em;
    margin-right: 20px;
}


.footer_text:hover {
    text-decoration: underline;
    cursor         : pointer;
}

.author {
   justify-content: center;
}
.author:hover{
    color: #ddd;
}