.navbar {
    background-color: #060b26;
    height          : 80px;
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
}

.menu-bars {
    margin-left: 0rem;
    font-size  : 2rem;
    background : none;
}

.nav-menu {
    background-color: #060b26;
    width           : 150px;
    height          : 100vh;
    display         : flex;
    justify-content : center;
    position        : fixed;
    top             : 80px;
    left            : -150px;
    transition      : 200ms;
}

.nav-menu.active {
    left      : 0;
    transition: 250ms;

}

.nav-text {
    display        : flex;
    border-radius  : 2px;
    text-decoration: none;
    color          : #f5f5f5;
    font-size      : 18px;
   
}



.nav-text:hover {
    background-color: #8ca4c0;
}

.nav-menu-items {
    margin-left: -40px;
}

span {
    margin-left: 10px;
}